/* 

* {
    box-sizing: border-box;
}

body {
    background-color: rosybrown;
    border: 2px dashed red;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    /* display: flex;
    align-content: center;
    flex-direction: column; 
}

.formBlock {
    text-align: center;
    border: 2px black dashed;
}

.textBoxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

input[type="email"], input[type="password"] {
    margin: auto 500px;
} */
